*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-image: url("Header.jpg");
  background-size: cover;
  text-align: center;
  background-position: center;
  /*padding: 280px;*/
  padding: 30vh 5vw;
}

header h1{
  position: relative;
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: bold;
  color: aliceblue;
  padding: 20px 40px;
  z-index: 1;
  text-shadow: 4px 4px 5px #f0f;
}

header h1::before,
header h1::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    45deg,
    #0ff,
    #0ff,
    #0ff,
    #f0f,
    #0ff,
    #0ff
    );
  background-size: 400%;
  z-index: -1;
  border-radius: 10px;
  filter: blur(4px);
  animation: moveNeon 4s linear infinite;
}

header h1::after {
  animation-delay: 2s;
  opacity: 0.5;
}

@keyframes moveNeon {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 400px) {
  header {
    padding: 10vh 5vw;
  }

  header h1 {
    padding: 15px 25px;
    font-size: 2rem;
  }

  header h1::before,
  header h1::after {
    border-radius: 6px;
    filter: blur(3px);
  }
}

main{
  text-align: center;
  margin-top: 300px;
}

.slider-container{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 100px;
}

.dabi,
.doffy,
.gin{
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: aniRun 20s linear infinite;
}

.dabi{
  background-image: url("Dabi1.webp");
}

.doffy{
  background-image: url("Doffy3.jpg");
}

.gin{
  background-image: url("Gin1.avif");
}

@keyframes aniRun{
  from{
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.item{
  position: absolute;
  inset: 0 0 0 0;
  transform:
  rotateY( calc( (var(--DabiPos) - 1 ) * (360deg / var(--count)) )) 
  translateZ(550px);
}

.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}